body {
    box-sizing: border-box;
    margin: 0px;
    min-width: 320px;
    font-family: sans-serif;
}
.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 12vw;
    min-height: 82vh;
    background-image: url('./assets/images/image-hero.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-logo {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}
.hero-nav>ul {
    padding: 0px;
    margin: 0px;
    display: flex;
    list-style: none;
}
.hero-nav a {
    position: relative;
    padding: 0px 0.5rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
}
.hero-nav li::after {
    content: "";
    display: block;
    margin: auto;
    width: 0%;
    height: 2px;
    background-color: aliceblue;
    transition: width 500ms;
}
.hero-nav li:hover::after {
    width: 100%;
}
.icon-menu {
    display: none;
    width: 24px;
    height: auto;
    cursor: pointer;
}
.hero-description {
    padding: 0.5rem;
    margin: 0px;
    width: 50%;
    text-transform: uppercase;
    font-size: calc(1rem + 3.5vw);
    font-weight: 100;
    color: white;
    border: 3px solid rgba(255, 255, 255, 0.8);
}
@media screen and (max-width:650px) {
    .hero-nav>ul {
        display: none;
    }
    .icon-menu {
        display: block;
    }

    .hero-description {
        width: 90%;
    }
    .hero-description p {
        font-size: calc(2rem + 1vw);
    }
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}
.interactive-section {
    position: relative;
    display: flex;
    padding: 5rem;
    margin: 0px auto;
    width: 80%;
    max-width: 1200px;
}
.interactive-section img {
    width: 70%;
    max-width: 720px;
    height: auto;
}
.interactive-container {
    position: absolute;
    right: 0px;
    bottom: 5rem;
    padding-top: 4rem;
    padding-left: 4rem;
    width: 42%;
    /* height: 30%; */
    background-color: white;
}
.interactive-title {
    margin: 0px;
    font-size: 2.2rem;
    font-weight: 100;
    text-transform: uppercase;
}
.interactive-text {
    font-family: cursive;
    color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width:820px) {
    .interactive-section {
        flex-direction: column;
    }
    .interactive-container {
        position: static;
        width: 100%;
        padding: 1rem 0px;
        /* height: 30%; */
        background-color: white;
    }
    .interactive-section img {
        width: 100%;
    }
    .interactive-section {
        padding: 1rem;
    }
}
.our-creations-section{
    padding: 0px 10vw;
}
.our-creations-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0px;
}
.our-creations-title,
.our-creations-title p,
.our-creations-title a{
    margin: 0px;
    color: black;
    font-weight: 100;
    text-transform: uppercase;
}
.our-creations-title p{
    font-size: 1.9rem;
}
.our-creations-title a{
    padding: 0.2rem 2rem;
    border: 1.5px solid rgba(0, 0, 0, 0.4);
    font-size: 1rem;
    letter-spacing: 0.1rem;
    text-decoration: none;
}
.creations-grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
}
.creations-grid-container article{
    position: relative;
}
.creations-grid-container img{
    width: 100%;
}
.creations-grid-container h3{
    position: absolute;
    left: 50%;
    bottom: 0.5rem; 
    transform: translateX(-50%);
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 100;
    font-size: 1.6rem;
    letter-spacing: 1.6px;}
